@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');


.bgl{
  background: url(../assets/bg-forms.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    /* height: 100%; */
    width: 100%;
    z-index: -1;
}
.login {
  width: 360px;
  padding: 50px 0 0;
  margin: auto;
  font-family: 'Carlito', sans-serif;
}
/* .login1{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Carlito', sans-serif;
} */

.form1 {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 50px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .form1{
  position: relative;
  z-index: 1;
  background: #0e2f53;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  color: white;
} */
/* 
#img{
  width: 80%;
} */

.form1 input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Carlito', sans-serif;
}

.form1 input:focus {
  background: #dbdbdb;
}

.form1 button {
  font-family: 'Carlito', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #24314f;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 10px;
}

.form1 button:active {
  background: radial-gradient(circle, rgba(37,124,208,1) 0%, rgba(101,104,190,1) 0%, rgba(40,65,93,1) 100%);
}


#head1{
  font-size: 40px;
  font-weight: bold;
  color: #24314f;
  /* margin-bottom: 25px; */
  display: block;
}
#cap{
  font-size: 15px;
  font-weight: bold;
  color: #444955;
  margin-bottom: 25px;
  display: block;
}

#help{
  color: #444955;
  float: right;
  text-decoration: none;
  padding-right: 10px;
}
#help:hover{
  text-decoration: underline;
}

#signup{
  color: #444955;
  text-decoration: none;
  font-size: 13px;
}
#signup:hover{
  text-decoration: underline;
}
div{
  font-size: 13px;
}
#fck{
  margin-top: 20px;
}

.form p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 12px;
  color: rgb(135, 16, 16);
}

/* .col-6{
  width: 461px;
} */

